version: "3.2"
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - '3306:3306'
    volumes: 
      - db_data:/var/lib/mysql
    environment: 
      MYSQL_DATABASE: 'dronem-db'
      MYSQL_USER: 'root'
      MYSQL_ROOT_PASSWORD: 'mysql123'
  backend:
    build: 
      context: ./backend
      args:
        requirements_file: requirements.txt
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    depends_on: 
      - db
      - redis
    command: python3 manage.py runserver 0.0.0.0:8000

  redis:
    image: redis:latest
    command: redis-server
    expose:
      - 6379

volumes: 
  db_data:
